:host {
  display: block;
  text-align: center;
  z-index: 3;
  order: 0;
  
  & > h1 {
    font-family: "PingFang TC Light", sans-serif;
    font-size: 2.5em;
    font-weight: lighter;
    margin: .5em 0 .5em;
  }
  
  & > .Header-input {
    input {
      width: 100%;
      background-color: #efefef;
      padding: 1em 0;
      border: 1px solid #ddd;
      border-width: 1px 0;
      text-align: center;
      box-sizing: border-box;
      box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.075);  
    }
  }
}
