$primary-color: #fede33;
$text-color: #2b3132;
$alt-text-color: #737b7c;
$secondary-color: #e1901b;
$secondary-darker-color: darken($secondary-color, 10%);

// Extensions
.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

html, body {
  font-family: "PingFang TC Regular", sans-serif;
  font-size: 16px;
  background-color: #dfe3e4;
  color: $text-color;
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  position: absolute;
  width: 100%;
  top: 1.5em;
  bottom: 1.5em;
}
